$backgroundColor: black;
$hoverColor: rgb(95, 95, 95);
$fontColor: white;

.ContextMenu{
  background-color: $backgroundColor !important;
  padding-top: .3rem;
  position: fixed;
  min-width: 150px;

  .ContextMenuRow{
    background-color: $backgroundColor;
    padding: .2rem;
    display: flex;

    &:hover{
      background-color: $hoverColor;
      cursor: pointer;
    }
  
    .ContextMenuRowIcon{
      color: $fontColor;
      padding: .4rem 0 .4rem .4rem;
    }
  
    .ContextMenuRowContent{
      color: $fontColor;
      padding: .4rem;
    }
  }
}

